{{template "base" .}}

{{define "title"}}Quote #{{.Quote.ID}}{{ end }}

{{define "main"}}
{{ with.Quote }}
<div class="quote">
  <div class="metadata">
    <strong>{{.Author}}</strong>
    <span>#{{.ID}}</span>
  </div>
  <pre><code>{{.Quote}}</code></pre>
  <div class="metadata">
    <time>Created: {{.Created}}</time>
  </div>
</div>
{{ end }}
{{ end }}
