{{template "base" .}}

{{define "title"}}Quote #{{.Quote.ID}}{{ end }}

{{define "main"}}
<div class="quote">
  <div class="metadata">
    <strong>{{.Quote.Author}}</strong>
    <span>#{{.Quote.ID}}</span>
  </div>
  <pre><code>{{.Quote.Quote}}</code></pre>
  <div class="metadata">
    <time>Created: {{.Quote.Created}}</time>
  </div>
</div>
{{ end }}
